body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/fondos.jpg');
    background-size: cover;
    background-position: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(210, 27, 45, 0.1);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #da1111;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5%;
}

button[type="submit"]:hover {
    background-color: #360a0a;
}

.logo {
    width: 200px;
    /* Ajusta según sea necesario */
    height: auto;
    /* Mantiene la proporción */
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .login-container {
        padding: 15px;
    }
    input[type="email"], button[type="submit"] {
        padding: 8px;
        font-size: 14px;
    }
}